<% provide(:title, 'All words') %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Word</th>
      <th>Meaning</th>
      <th>Category</th>
      <th>Action <%= link_to "new", new_admin_word_path %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @words %>
  </tbody>
</table>
<%= paginate @words %>
