<% provide(:title, 'All vocabularies') %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Vocabulary</th>
      <th>Meaning</th>
      <th>Category</th>
      <th>Action <%= link_to "new", new_admin_vocabulary_path %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @vocabularies %>
  </tbody>
</table>
<%= paginate @vocabularies %>
