@import "bootstrap-sprockets";
@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #777777;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* layout */
h4.username {
  text-align: center;
}
.seperator-side {
  border-left: solid 1px gray;
}
.user-avatar-home {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

#user_avatar {
  border: none;
  margin-top: 10px;
}

.category-description {
  display: block;
  text-align: justify;
}

.category-name {
  font-weight: bold;
  display: inline;
}

.category-learned-words {
  font-size: 16px;
  margin-left: 80px;
}

.category-avatar-img {
  max-height: 150px;
  display: block;
}

#category_avatar {
  border: none;
  margin-top: 10px;
}

#edit_answers {
  input[type="checkbox"] {
    width: auto;
  }
  input[id*="destroy"] {
    display: none;
  }
}

#answer_template {
  display: none;
}

#follow_form {
  margin-top: 10px;
}

h3.category-name {
  margin-top: 0px;
}

.start-lesson {
  width: 100px;
  float: right;
}

.category-avatar-home {
  width: 100%;
  border-radius: 20px;
  border: solid 1px blue;
}

#word_filter {
  input[type="radio"] {
    width: auto;
  }
  .label-radio {
    margin-right: 15px;
  }
  input[type="submit"] {
    width: 150px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.user-activity {
  margin-top: 20px;
}
.user-activity-avatar {
  width: 50px;
}

.quiz-answer {
  border: solid 1px gray;
  width: 100%;
  margin-bottom: 5px;
}

.answer-true {
  color: green;
}
.answer-false {
  color: red;
}